spring:
  sql:
    init:
      mode: never
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  datasource:
    url: jdbc:h2:mem:testdb

  h2:
    console:
      enabled: true

coolsms:
  api-key: CoolSMS API KEY
  api-secret-key: API SECRET KEY
  from: CoolSMS PHONE NUMBER
